<div class='list-group'>
  <% medias.each do |media| %>
    <div class="col-sm-6">
      <%= link_to media, watch_path(media: "#{params[:videos_path]}/#{dir}/#{media}"), method: :post, class: 'list-group-item' %>
    </div>
  <% end %>
</div>
