<div class='row'>
  <% medias.each do |media| %>
    <div class="col-sm-6 col-md-4">
      <div class='embed-responsive embed-responsive-4by3'>
        <%= button_to media, { action: 'watch' }, params: { media: "#{params[:path]}/#{dir}/#{media}" }, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
