<div class='row'>
  <% medias.each do |media| %>
    <div class="col-sm-6 col-md-4">
      <div class='embed-responsive embed-responsive-4by3'>
        <%= video_tag media_path(dir, media), :controls => true, title: media, class: 'embed-responsive-item' %>
      </div>
    </div>
  <% end %>
</div>
