<div class='list-group'>
  <% targets.each do |target| %>
    <div class="col-sm-6">
      <% if videos %>
        <%= target_link target, watch_path(media: path_to_target(dir, target)), :post %>
      <% else %>
        <%= target_link target, media_path(videos_path: path_to_target(dir, target)), :get %>
      <% end %>
    </div>
  <% end %>
</div>
