<div class="jumbotron">
  <h1>Your videos in just one place</h1>
  <p>Wanna watch all your video files from one place? This is your thing! Assets videos are grouped under their directory name, making it easy to navigate. Just click a video to watch it. Supports only mp4 videos.</p>
</div>
<div id='accordion', class='ui-accordion ui-widget ui-helper-reset'>
  <% @directories.each do |dir| %>
    <% if has_collection?(dir) %>
      <div class='ui-accordion-header'>
        <%= content_tag(:h3, dir) %>
      </div>
      <div class='ui-accordion-content'>
        <%= render partial: 'medias', locals: { medias: @collection, dir: dir } %>
      </div>
    <% end %>
  <% end %>
</div>
