<div class="jumbotron">
  <h1>Your videos in just one place</h1>
  <p>Wanna watch all your video files from one place? This is your thing! Assets videos are grouped under their directory name, making it easy to navigate. Just click a video to watch it. Supports only mp4 videos.</p>
</div>
<div id='accordion', class='ui-accordion ui-widget ui-helper-reset'>
  <% @directories.each do |dir| %>
    <div class='ui-accordion-header'>
      <%= content_tag(:h3, dir) %>
    </div>
    <div class='ui-accordion-content'>
      <% if has_collection?(dir) %>
        <%= render partial: 'medias', locals: { targets: @collection, dir: dir, videos: true } %>
      <% elsif has_directories?(params[:videos_path], dir) %>
        <%= render partial: 'medias', locals: { targets: @directories, dir: dir, videos: false } %>
      <% end %>
    </div>
  <% end %>
</div>
